:root {
  --black-light: #505A59;
  --black-power: #212C2E;
  --black-soft: #263538;
  --green-bluish-light: #DCF4F8;
  --green-bright: #5DDABC;
  --green-moss: #818B88;
  --green-smooth: #76ADAD;
  --green-soft: #CBF3E9;
  --green-soft-light: #DBF4EE;
  --green-super-light: #CCDBD7;
  --light-grey: #EEF4F3;
  --red-soft: #EC7B7B;
  --white: #FFFFFF;
}